@import 'mirotone/dist/styles.css';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
}

#root {
  width: 100%;
  overflow: auto;
  padding: var(--space-medium);
}

img {
  max-width: 100%;
  height: auto;
}

.az-b{font-size: .9rem; padding: .3rem .5rem; height: auto; margin: .3rem .2rem !important}
h3{margin: .7rem 0}
